.navBack{
  background-color: black;
  color: aqua;
  font-size: large;
  padding:10px;
}

ul li{
  list-style-type: none;
}


table{
  width:80%;
}
@media screen and (max-Width:700px){
  table{
    width: 50%;
  }

}
